# Flask Configuration
FLASK_ENV=development
SECRET_KEY=tu_clave_secreta_aqui

# Database Configuration
# Local example: postgresql+psycopg2://postgres:postgres@localhost:5432/minitienda
# Render example: postgres://user:password@host/database
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/minitienda
